body {

background-image: url("amigaos.jpg"); 

background-repeat: no-repeat;

background-position: center;

background-attachment: fixed; 





}


a {

font-size: 19px; 

font-family: "Micro 5 Charted", sans-serif;



}


img {

height: 474px; 

width: 355px; 



	

}


table, th, td {

border: 5px solid white;

background-color: silver;

}




.container {
	
display: flex; 

background-color: rgb(27, 79, 114);
	
	
}


.imagecontainer {
	display: flex;
	
	background-color: rgb(76,0,153); 
	
	
}


.terminal_div {
	
background: linear-gradient(green, black); 
	
font-family: "Micro 5 Charted"; 
	
font-size: 60px;
	
	
}


.micro-5-charted-regular {
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}



@keyframes img_enlarge {
	
width: 500px; 

height: 500px; 
	
	
}

.navbar {

overflow: hidden; 
	
margin: 6px; 

background-color: rgb(25, 118, 210);


}

.navbar:a {

color: rgb(0, 51, 0);

}


a:hover {
color: rgb(60, 179, 113); 

}


a:visited {


}
img:hover {
	
	width: 490px;
	
	
	
}
.pricebox {
	
	display: flex; 
	
	
	background-color: rgb(96, 96, 96);
	
}


.div-center {
	
	text-align: center;
}

.jersey-20-charted-regular {
  font-family: "Jersey 20 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.display-title {
	
	background: linear-gradient(black, yellow); 
	
	font-family: Jersey 20 Charted";
	
	
}




.productbox {
	
	background-color: black;
	
	width: 400px;
	
	height: 400px; 
	
	margin: 3px;
	
	display: flex;
	
	
}


